body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('https://wallpapercave.com/wp/wp9139711.jpg');
    background-size: cover;
    position: relative;
}

#card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 1rem;
    background: rgba(189, 189, 189, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);

    animation: myAnim 1s ease 0s 1 normal forwards;
}



.inputDo {
    text-align: center;
    border: none;
    background-color: inherit;
    display: block;
    width: 100%;
    margin: none;
}



.inputDo:focus {
    outline: none;
}

.form-outline .line {
    height: 2px;
    width: 0px;
    position: absolute;
    background-color: darkgrey;
    display: inline-block;
    transition: .3s width ease-in-out;
    position: relative;
    top: -14px;
}

.form-outline .inputDo:focus+.line {
    width: 100%;
    background-color: #00C8C8;
}

.inputDo:invalid+.line {
    width: 100%;
    background-color: #00C8C8;
}

.inputDo::placeholder {
    color: rgb(160, 160, 160);
}

@keyframes myAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}