#card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    background-image: linear-gradient(to right, #00C8C8, #00A0AA);
    border-radius: 1rem
}

.form-control {
    text-align: center;
}

