.nav-link:hover{
    color: blue ;
}

#optionIcon{
    animation: rotation 2s infinite linear;

}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .btn{
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #2E8B57;
    transform: translateY(-3px);
  }


#exampleModal{
  /* From https://css.glass */
/* From https://css.glass */
background: rgba(107, 107, 107, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px); 
}