
body{

    display: grid;
}

#cadKanban {
    transition: all .2s ease-in-out;
    margin: 8px;
    height: 1%;
    width: 55%;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    box-shadow:  rgba(0, 0, 0, 0.3) 0px 1px 2px 0;

}

#cadKanban:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 6px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    -webkit-transform : scale(1.02);
    -moz-transform : scale(1.02);
    -o-transform : scale(1.02);
    -ms-transform : scale(1.02);
    transform : scale(1.02);

    -webkit-transform-origin : 50% 100%;
    -moz-transform-origin : 50% 100%;
    -o-transform-origin : 50% 100%;
    -ms-transform-origin : 50% 100%;
    transform-origin : 50% 100%;
}

#bodyCard{
    max-width: 50%;
    max-height: 10%;
}