.conteudo {
    display: flex;
    margin-left: 3.5%;
    max-height: 100%;
}

.side {
    width: 30%;
    height: 30%;
}

#bodyContent {
    margin-top: 1%;
    font-size: medium;
    /* height: calc(100vh - 14px - 10px - 10px);
    overflow-y: auto; */
}

.form-control {
    margin-top: 1%;
}


.box_comment {
    margin-top: 2px;
    font-size: medium;
    position: relative;
    height: calc(100vh - 24px - 40px - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    padding: 8px;
}

#alertDanger {
    font-size: large;
    align-items: center;
    text-align: center;
    transform: translate(20px, 20px);


}

#card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

p {
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#inputAndComment{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0;
}

#menuLeft{
    display: block;
}

#nenhumComentario{
    align-items: center;
    text-align: center;
    justify-content: center;
}

