.conteudo {
    display: flex;
    margin-left: 3.5%;
}

#card-dados {
    transition: box-shadow .3s, transform .3s;
    margin-top: 3%;
    width: 30%;
    height: 30%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0;
}

#card-dados:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 6px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transform: translate(0, -10px);
}

#sendEmail {
    width: 70%;
    margin: 1%;
}

.side {
    width: 30%;
    height: 30%;
}

#bodyContent {
    font-size: medium;
    margin: 1%;
    width: 29%;
}

.form-control {
    margin-top: 1%;
}

#textForm {
    margin-top: 10px;
    height: 20%;
}

.box_comment {
    margin-top: 2px;
    font-size: medium;
}

#alertDanger {
    font-size: large;
    align-items: center;
    text-align: center;
    transform: translate(20px, 20px);


}

#inputAndComment {
    display: flex;
    overflow: auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
}

#card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

p {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}