.conteudo {
    display: flex;
    margin-left: 2%;
}

#card-dados {
    transition: box-shadow .3s, transform .3s;
    margin-top: 3%;
    margin-right: 2%;
    width: 30%;
    height: 30%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0;
}

#card-dados:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 6px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transform: translate(0, -10px);
}

#sendEmail {
    width: 70%;
    margin: 1%;
}

.side {
    width: 30%;
    height: 30%;
}

#bodyContent {
    font-size: medium;
    margin: 1%;
    width: 29%;
    transform: translate(0,-190%);
}

.form-control {
    margin-top: 1%;
}

#textForm {
    margin-top: 10px;
    height: 40%;
}

.box_comment {
    margin-top: 2px;
    font-size: medium;
    position: relative;
    height: calc(100vh - 24px - 40px - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    padding: 8px;
}

#alertDanger {
    font-size: large;
    align-items: center;
    text-align: center;
    transform: translate(20px, 20px);


}


#card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

p {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#inputAndComment{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0;
}